@import "bootstrap/mixins.less";

@green: #8fc829;
@pink: #be1a8d;

@height: 375px;
@margin: 25px;
@button-width: 40px;

/* Custom highlight */
::-moz-selection{ background:@pink; color:#fff; text-shadow: -1px 1px 1px darken(@pink, 15%); }
::selection { background:@pink; color:#fff; text-shadow: -1px 1px 1px darken(@pink, 15%); }

.topbar{
    a{
        color: #fff;
        &:hover{
            background: @pink;
        }
    }
    .brand:hover{
        text-decoration: none;
    }
    .fill, .menu-dropdown{
        #gradient > .vertical(darken(@pink, 5%), darken(@pink, 10%));
    }
}


#main{
    padding-top: 100px;
}

.search{
    height: 100px;
    margin: 130px 0 @margin;
    position: relative;
    .search-bar{
        font-size: 14px;
        padding-right: @button-width;
        width: 330px - @button-width;
    }
    .submit{
        background: #eee;
        position: absolute;
        right: 0;
        text-indent: -999em;
        top: 0;
        width: @button-width - 4px;
        z-index: 5;
    }
}

.liked{
    margin-bottom: @margin;
}

.results{
    height: 100px + @height + @margin;
}
