{% extends "base.html" %}


{% block js %}
<script src="/static/js/words.js" type="text/javascript"></script>
{% endblock %}


{% block main %}
<div class="container">
  <div class="row">

    <div class="span6">
      <form action="/search" method="GET" class="search">
        <input type="text" name="search" class="search-bar"
               autocomplete="off" data-api="domainr" tabindex=1
               data-content="Whether you're looking for a domain or similar words, your search ends here."
               data-original-title="Search easily."
        />
        <input type="submit" class="submit" value="Submit" name="" />
      </form>
    </div>

    <div class="span9 offset1">
      <div class="results">

        <ul class="tabs" data-tabs="tabs">
          <li class="active">
            <a href="#domainr" tabindex=2>Domainr</a>
          </li>
          <li>
            <a href="#wordnik" tabindex=3>Wordnik</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="domainr" class="active"></div>
          <div id="wordnik" class=""></div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}
